<!doctype html>
<html>
  <head>
    <title>Poem Generator</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a href="/poem" class="button">Get a poem</a>
  </body
</html>